{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="POST">
  <div class="form-group">
    {{ form.as_p }}
  </div>
  <input type="submit" value="submit" />
</form>
{% endblock %}
